*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* tips */
.tips{
    padding: 25px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.start{
    background: url('../images/intentos.svg') no-repeat right top;
    background-size: 100%;
}

.high{
    background: url('../images/alto.svg') no-repeat right top;
    background-size: 100%;
}
.less{
    background: url('../images/bajo.svg') no-repeat right top;
    background-size: 100%;
}
.win{
    background: url('../images/has_ganado.svg') no-repeat right top;
    background-size: 100%;
}
.game--over{
    background: url('../images/game_over.svg') no-repeat right top;
    background-size: 100%;
}

/* PAGE */
.page{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 130px auto;
    row-gap: 20px;
    text-align: center;
    align-items: center;
    background-color: #07a5c3;
    height: 100vh;
}

.game__text-color{
    color: #f6e7d8;
}

.input{
    height: 30px;
    width: 190px;
    margin: 20px 0;
    border-radius: 10px;
}

.btn{
    display:inline-block;
    height: 30px;
    width: 80px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* GAME OVER */
.page_game-over{
    background-color: royalblue;
}

@media all and (min-width: 768px){
    .page{
        display: grid;
        grid-template-columns:10% 40% 40% 10%;
        grid-template-rows: 15% 20% 40% auto;
        grid-template-areas: 
    ". . . ."
    ". header header ."
    ". main tips ."
    ". . . .";
    }
    .header{
        grid-area: header;
    }
    .main{
        grid-area: main;
    }
    .tips{
        grid-area: tips;
    }

    .title{
        font-size: 40px;
    }
    .counter_text{
        font-size: 25px; 
    }

    .input{
        height: 35px;
    }
    
    .btn{
        height: 35px;
    }
}

@media all and (min-width: 1000px){
    .page{
        display: grid;
        grid-template-columns:30% 20% 20% 30%;
        grid-template-rows: 15% 20% 40% auto;
        grid-template-areas: 
    ". . . ."
    ". header header ."
    ". main tips ."
    ". . . .";
    }
    .header{
        grid-area: header;
    }
    .main{
        grid-area: main;
    }
    .tips{
        grid-area: tips;
    }
}