*{
    padding: 0;
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F1C40F;

}

.input{
    height: 30px;
    width: 190px;
    margin: 20px 0;
    border-radius: 10px;
}

.btn{
    display:inline- block;
    height: 30px;
    width: 80px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.tips{
    margin-bottom: 10px;;
}

.bg-2{
    background-color: #E74C3C;
    color:white;
}